* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    resize: none;
    background-color: black;
    color: #37ba16;
    width: 80%;
    height: 80%; 
    cursor: default;
    font-size: 15px;
}

.box{
    height: 100%;
    width: 100%;
}