textarea {
    resize: none;
    background-color: black;
    color: #37ba16;
    width: 80%;
    height: 80%; 
    cursor: default;
    user-select:none;    
    font-size: 15px;
}

.box{
    height: 100%;
    width: 100%;
}